<h2>
    Edit Post
</h2>
<form id="edit-post-form">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" value="{{post.title}}">
    </div>
    <div>
        <label for="entry">Entry:</label>
        <textarea id="entry">{{post.entry}}</textarea>
    </div>
    <div>
        <button type="submit" id="edit-post-btn">Edit Post</button>
        <button type="button" id="delete-post-btn">Delete Post</button>
    </div>
</form>
<script src="/javascripts/edit-post.js"></script>
<script src="/javascripts/delete-post.js"></script>