<form>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<button type="button" id="sign-up-btn">Sign up instead</button>
<script src="/javascripts/login.js"></script>