<form id="new-post-form">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text">
    </div>
    <div>
        <label for="entry">Entry:</label>
        <textarea id="entry"></textarea>
    </div>
    <div>
        <button type="submit" id="add-post-btn">Add Post</button>
    </div>
</form>
<script src="/javascripts/add-post.js"></script>