<form>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </div>
    <div>
        <button type="submit" id="signup-btn">Sign Up</button>
    </div>
</form>
<script src="javascripts/signup.js"></script>