{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" placeholder="Enter your comment here" cols="60" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{!-- add partial for comments --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascripts/comment.js"></script>
{{/if}}